<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger{0}:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="mfrolov.test.EclipselinkLogger" level="DEBUG" />
    <!-- MMZ: classloading to warning to avoid stacktrace spam when starting tomcat for web dev -->
    <logger name="org.jboss.weld.ClassLoading" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>